<h1>Comentários</h1>

<%= if @live_action in [:new, :edit] do %>
  <%= live_modal @socket, TwitterCloneWeb.CommentLive.FormComponent,
    id: @comment.id || :new,
    title: @page_title,
    action: @live_action,
    comment: @comment,
    return_to: Routes.comment_index_path(@socket, :index, @post_id) %>
<% end %>

<span>
  <%= live_patch "Novo Comentário",
    to: Routes.comment_index_path(@socket, :new, @post_id)
  %>
</span>

<div id="comments" phx-update="prepend">
  <%= for c <- @comments do %>
    <%= live_component @socket,
      TwitterCloneWeb.CommentLive.CommentComponent,
      id: c.comment.id,
      user_name: c.user_name,
      comment: c.comment
    %>
  <% end %>
</div>
